:root {
  --blue-800: hsl(233, 47%, 7%);
  --blue-600: hsl(244, 38%, 16%);
  --violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --white-75: hsl(from var(--white) h s l / 0.75);
  --white-60: hsl(from var(--white) h s l / 0.6);

  --space-25: 2px;
  --space-100: 8px;
  --space-200: 16px;
  --space-300: 24px;
  --space-375: 30px;
  --space-400: 32px;
  --space-500: 40px;
  --space-750: 60px;
  --space-800: 64px;
  --space-900: 72px;

  --radius-8: 8px;

  --font-family-lexand: "Lexend Deca", sans-serif;
  --font-family-inter: "Inter", sans-serif;

  --font-size-36: 36px;
  --font-size-28: 28px;
  --font-size-24: 24px;
  --font-size-15: 15px;
  --font-size-12: 12px;

  --font-size-36-28: var(--font-size-28);

  @media (min-width: 600px) {
    --font-size-36-28: var(--font-size-36);
  }

  --font-weight-400: 400;
  --font-weight-700: 700;

  --line-height-12: 1.2;
  --line-height-16: 1.6667;
  --line-height-21: 2.0833;

  --letter-spacing-plus-1: 1px;

  --text-preset-1: var(--font-weight-700) var(--font-size-36-28) /
    var(--line-height-12) var(--font-family-inter);
  --text-preset-2: var(--font-weight-400) var(--font-size-15) /
    var(--line-height-16) var(--font-family-inter);
  --text-preset-3: var(--font-weight-700) var(--font-size-24)
    var(--font-family-inter);
  --text-preset-4: var(--font-weight-400) var(--font-size-12) /
    var(--line-height-21) var(--font-family-lexand);

  --color-text-default: var(--white-75);
  --color-text-heading: var(--white);
  --color-text-primary: var(--violet);
  --color-text-secondary: var(--white-60);

  --color-background-default: var(--blue-800);
  --color-background-primary: var(--violet);
  --color-background-card: var(--blue-600);

  --typography-title: var(--text-preset-1);
  --typography-body: var(--text-preset-2);
  --typography-label: var(--text-preset-3);
  --typography-data: var(--text-preset-4);

  --radius-default: var(--radius-8);

  --max-width: 1110px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background-default);
  color: var(--color-text-default);
  font: var(--typography-body);
  font-optical-sizing: auto;
  font-style: normal;
}

h2 {
  color: var(--color-text-heading);
  font: var(--typography-title);
  text-wrap: balance;
}

em {
  color: var(--color-text-primary);
  font-style: normal;
}

strong {
  color: var(--color-text-heading);
}

ul[role="list"] {
  list-style: none;
}

picture,
img {
  display: block;
  max-width: 100%;
}

.flow > * + * {
  margin-block-start: var(--flow-space, var(--space-300));
}

.cluster {
  display: flex;
  flex-direction: var(--cluster-direction, row);
  flex-wrap: wrap;
  gap: var(--cluster-space, var(--space-300));
  justify-content: var(--cluster-justify, start);
  align-items: var(--cluster-align, center);
}

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--switcher-gutter, 0);
  align-items: var(--switcher-vertical-alignment, stretch);
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc(
    (var(--switcher-target-container-width, 500px) - 100%) * 999
  );
}

.switcher[data-switcher-reverse] {
  flex-direction: row-reverse;
}

.challenge-wrapper {
  --_max-with: var(--max-width);

  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: var(--space-300)
    max(var(--space-300), calc(50% - var(--_max-with) / 2));
}

.preview {
  --switcher-gutter: var(--space-375);
  --switcher-target-container-width: 800px;
  background-color: var(--color-background-card);
  border-radius: var(--radius-default);
  overflow: hidden;
  text-align: center;

  @media (min-width: 600px) {
    text-align: left;
  }
}

.preview__image {
  img {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
    object-position: right;
  }
}

.preview__content {
  padding: var(--space-400);
  padding-block-start: var(--space-500);

  @media (min-width: 600px) {
    padding: var(--space-900);
    padding-block-end: var(--space-750);
  }
}

.stats {
  --flow-space: var(--space-500);
  --cluster-space: var(--space-300);
  --cluster-direction: column;

  @media (min-width: 600px) {
    --flow-space: var(--space-900);
    --cluster-space: var(--space-800);
    --cluster-direction: row;
  }
}

.stats li {
  color: var(--color-text-secondary);
  font: var(--typography-data);
  letter-spacing: var(--letter-spacing-plus-1);
  text-transform: uppercase;

  strong {
    display: block;
    font: var(--typography-label);
    letter-spacing: 0;
    text-transform: none;
    margin-block-end: var(--space-25);
  }
}

.monotone {
  isolation: isolate;
  background-color: var(--color-background-primary);

  img {
    mix-blend-mode: multiply;
    opacity: 0.75;
  }
}
